* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: Outfit, sans-serif;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

h2 {
  font-weight: bold;
  font-size: 22px;
  color: hsl(218, 44%, 22%);
  padding-bottom: 24px;
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 320px;
  padding: 16px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}
.qr-container img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.text-container {
  text-align: center;
  padding-bottom: 24px;
}
